body            { font-family: sans-serif; background: #dc5202; background-image: url("images/head_bg.jpg"); background-position: top center; background-repeat: no-repeat; }
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }
.logo           { position:relative; top:40px; width: 840px; height: 100px; background: url("images/logo_text.png") left top no-repeat; }
.moon_rotating  { position:relative; top:12px; left:620px; width: 220px; height: 50px; background: url("images/moon_rotating.gif") left top no-repeat; }
.kabosu         { position:relative; top:-52px; left:690px; width: 73px; height: 64px; background: url("images/kabosu.png") left top no-repeat; }

.page           { margin: 2em auto; width: 35em; border: none;
                  padding: 0.8em; background-color: #9d4001; }
.prices        { list-style: none; margin: 0; padding: 0; }
.prices li     { margin: 0.8em 1.2em; }
.prices li h2  { margin-left: -1em; }
.add-price      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-price dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }