<!doctype html>
<head>
    <title>Such world. To the moon. Wow.</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <a id="top"></a>
        <img src="{{ url_for('static', filename='images/new_logo.png') }}" class="logo"/>
    </div>
    <div class="content">
        {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
    <div class="footer">
        <img src="{{ url_for('static', filename='images/moon_rotating.gif') }}" class="moon_rotating"/>
        <a href="#top" class="kabosu">
            <img src="{{ url_for('static', filename='images/kabosu.png') }}"/>
        </a>
    </div>
</body>
</html>