<?xml version="1.0"?>
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/qr_display.css') }}" ></link>
		<script src="{{ url_for('static', filename='js/qrenc.js') }}" ></script>
		<script src="{{ url_for('static', filename='js/setup.js') }}" ></script>
	</head>
	<body onload="show()">
		<center>
		<div class="content">
			<div id="qrdiv">
				<p>Pay <span class="font2">500 USD</span> with dogecoin.</p>
				<canvas id="qrcanv">No Canvas Support?</canvas>
			</div>
			<a id="payment_link" href="">Pay Now</a>
			<div id="qrdiv2">
				<canvas id="qrcanv2">No Canvas Support?</canvas>
			</div>
		</div>
	</center>
	</body>
</html>
