{% extends "layout.html" %}
{% block body %}
	<div class="dollar">
        <div>
        <img class="bill" src="{{ url_for('static', filename='images/cash.png') }}">
            </div>
		<div class="description">Currently 1 US-Dollar costs about:</div>
        <div class="doge_value">Ð{{factor|round(2)}}</div>
	</div>
	<ul class=prices>
	{% for country, value in prices.items() %}
		<li style="order: {{ (value[0] * -1000) | round | int }};">
			<h2 style="transform: rotate({{ value[3] }}deg)">{{ country }}</h2>
			{% if value[1] %}
            <img class="bigmac" src="{{ url_for('static', filename=value[2]) }}">
			<img class="flag" src="{{ url_for('static', filename=value[1]) }}"></br>
			{% endif %}
            <p class="price_display">Ð{{ (value[0] * factor) | round(2) }}</p><br/>
        </li>
	{% else %}
        <li><em>Unbelievable.	No prices here!</em></li>
	{% endfor %}
	</ul>
{% endblock %}